img[src$='#float-left']
{
    float: left;
    padding-right: 50px;
}

img[src$='#float-right']
{
	  float: right;
}

.category-title {
    font-weight: 600;
    color: #f0f4f8;
    font-size: 3rem;

    margin: 0;
    margin-top: 8px;
    margin-bottom: 12px;
}

.bio {
    font-weight: 500;
    font-size: 2.8rem;
    color: var(--card-text-color-main);
    margin-bottom: 40px;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 60px;

    margin-bottom: 40px;
}

.project-list article {
    margin: 0 !important;
}

.bio small {
    font-size: 1.5rem;
    filter: brightness(0.7);
}

.project-list .article-subtitle {
    font-size: 1.8rem;
}

.project-list.mini {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
    align-content: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .project-list {
        grid-template-columns: 1fr;
    }

    .project-list.mini {
        grid-template-columns: 1fr 1fr;
    }

    .duality-of-me {

    }
}

.project-list.single {
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;

    margin-bottom: 60px;
}

.project-list.single a {
    max-width: 1000px;
}

.article-list:not(.project-list) {
    margin-bottom: 10vh;
}

.duality-of-me {
    display: flex;
    flex-direction: column;
}

br.bonus {
    display: none;
}

@media (min-width: 1920px) {
    .duality-of-me {
        flex-direction: row;
        gap: 6vw;

        width: 110%;
        margin-left: -5%;
    }

    .project-list.single a {
        width: 520px;
    }

    br.bonus {
        display: block;
    }
}

.article-page .main-article {
    overflow: unset !important;
}

.toc {
    float: right;
    position: static;
    top: 100px;
    margin-top: -130px;

    margin-bottom: 1em;

    margin-left: 1em;
    margin-right: 1.5em;

    line-height: 1.4;

    backdrop-filter: blur(3px);
    background-color: rgba(20,24,26,.8);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l4);
    padding: 12px !important;
}

.toc h3 {
    margin-top: 0;
}

.article-page .main-article .article-content {
    padding-bottom: var(--card-padding);
}

@media (max-width: 1024px) {
    .toc {
        float: unset;
        margin-top: 0;
    }
}

.bio > img, .article-site-title img {
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
    vertical-align: middle;

    margin: 8px;
}

.bio > code {
    font-size: 0.9em;
}

.sidebar {
    display: none !important;
}

main {
    padding-top: 0px !important;
}

.article-page .main-article.main-article {
    margin-bottom: 0px !important;
    border-radius: 0;
}

main > aside, .article-footer {
    display: none !important;
}

.article-content {
    margin-bottom: 0 !important;
}

.article-site-title {
    font-weight: 800;
    font-size: 2.8rem;
    color: var(--card-text-color-main);

    margin: 0;
    padding: var(--card-padding);
    padding-bottom: 0;

    float: right;
}

.article-site-title > a {
    display: flex;
    align-items: center;
}

.article-site-title img {
    vertical-align: top;
}

.article-site-title img:nth-of-type(1) {
    margin-left: 0;
    margin-right: 1.2rem;
}

.article-site-title img:nth-of-type(2) {
    width: 3rem;
    height: 3rem;

    margin-left: 2rem;
    margin-right: 1rem;
}

.article-site-title code {
    font-weight: 400;
    font-size: 2rem;
    color: #b0b4b8;
}