{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <p class="bio">
        Hi! I'm<img width=32 src="https://avatars.githubusercontent.com/u/19228318?v=4">Oliver Medhurst, also sometimes known as<img src="/img/avatar.png"><code>@canadahonk</code> online.<br>
        19 year old software engineer. <a href="https://tc39.es" target="_blank">TC39</a> invited expert. ex-Mozilla.
    </p>

    <div class="duality-of-me">
        <div>
            <h1 class="category-title">Main Project</h1>

            <section class="article-list project-list single">
                <a href="https://porffor.dev"><article style="border: 2px solid rgba(156, 96, 224, 0.9); box-shadow: 0px 0px 8px 2px rgba(156, 96, 224, 0.8)"><div class="article-details">
                    <h2 class="article-title">Porffor</h2>
                    <h3 class="article-subtitle">I work on my from-scratch experimental ahead-of-time JS engine full-time.</h3>
                </div></article></a>
            </section>
        </div>

        <div>
            <h1 class="category-title">Side Projects</h1>

            <section class="article-list project-list">
                <a href="https://test262.fyi"><article style="border: 2px solid rgba(244, 225, 95, 0.8); box-shadow: 0px 0px 8px 2px rgba(244, 225, 95, 0.7)"><div class="article-details">
                    <h2 class="article-title">test262.fyi</h2>
                    <h3 class="article-subtitle">View many JS engines' Test262 (official test suite) results with an interactive dashboard.</h3>
                </div></article></a>
                <a href="https://shadow.goose.icu"><article style="border: 2px solid rgba(0, 0, 0, 0.8); box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.7)"><div class="article-details">
                    <h2 class="article-title">Shadow (inactive)</h2>
                    <h3 class="article-subtitle">A new novel browser engine made (almost) entirely in JS from scratch.</h3>
                </div></article></a>
            </section>
        </div>
    </div>

    <h1 class="category-title">Posts</h1>
    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ if (isset .Params "ramble") }}
            {{ else }}
                {{ partial "article-list/default" . }}
            {{ end }}
        {{ end }}
    </section>

    <!-- <h1 class="category-title">Ramblings</h1>
    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ if (isset .Params "ramble") }}
                {{ partial "article-list/default" . }}
            {{ else }}
            {{ end }}
        {{ end }}
    </section> -->

    {{- partial "pagination.html" . -}}
    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" . }}
{{ end }}
